:root {
    --primary-text-color--: #757575;
    --title-text-color--: #212121;
    --accent-color--: #2196F3;
    --primary-bg-color--: #FFFFFF;
    --hero-bg-color--:#2F303A;
    --team-bg-color--:#F5F4FA;
    --btn-hover--:#188CE8;
    --border-color--:#ECECEC;
    --border-portfolio--:#EEEEEE;
    
}



body {
   color: var(--primary-text-color--);
   background-color:var(--primary-bg-color--);
   font-family: Roboto, sans-serif;
   letter-spacing: 0.03em;
   font-size: 14px;
   line-height: 1.71;
}



.logo {
    
    color:var(--title-text-color--);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    color:var(--title-text-color--);
  
}

.link:hover,
.link:focus {
    color: var(--accent-color--);
}


.link {

    display: block;
    padding: 32px 0;
    color: var(--title-text-color--);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-weight: 500;
  
  
}

/*buttons*/

.button:hover,
.button:focus { 
    background-color: var(--btn-hover--);
    color: var(--primary-bg-color--);

}


.button {
    color: var(--primary-bg-color--);
    background-color: var(--accent-color--);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    cursor: pointer;
    padding: 10px 32px;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    text-align: center;
  
  
    
 }



 

 .button-nav:hover,
 .button-nav:focus {
    color: var(--primary-bg-color--);
    background-color: var(--accent-color--);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}
.button-nav { 
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;
    border-radius: 4px;
    padding: 6px 22px;;
    border: none;

    
 
}


/*page-header*/

.page-header {
   
    margin: 0;
    padding: 0;
    color: var(--title-text-color--);
    border-bottom:  1px  solid var(--border-color--);

}

.page-header-index {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid var(--border-color--);
}
.Web {
    color: var(--accent-color--);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.Studio {
    color: #F5F5F5;
}


.site-nav > .item {
    margin: 0;
    padding: 0;
    color: #212121;
    display: block;
 
 
  
}
.site-nav {
    display: flex;
    margin: 0;
    margin-left: 93px;
    padding: 0;

}

.site-nav .item:last-child {

    margin-right: 0px;
}

.contacts-header .item:last-child {

    margin-right: 0px;
   
    
}


.link.current {
    font-family: inherit;
    color: var(--accent-color--);  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    

}


.hero {
    margin: 0;
    padding: 0;
    background: var(--hero-bg-color--);
  
    margin-top: 0px;
    padding: 200px 0;
    text-align: center;

    background-image: url('../images/fon.jpg'), linear-gradient(to right, var(--hero-bg-color--), var(--hero-bg-color--));
    background-size: 1600px, cover;
    background-position: center;
    background-repeat: no-repeat;

   
}






.hero-title {
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-bg-color--);
    margin-top: 0px;
    margin-bottom: 30px;
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
   
    
}

.advantages {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
    list-style: none;
}

.section-title {
 
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    padding: 0;
    margin-bottom: 50px;
    margin-top: 0;
   
}

.section-title-team {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
    padding: 0;

  


 
}

.team {
    background: var(--team-bg-color--);
    padding-top: 94px;
    padding-bottom: 94px;
    
  
}

.colleagues {
    display: flex;
    padding-bottom: 94px;
    margin: 0;
    padding: 0;

   


}

.man {

    background-color: var(--primary-bg-color--);
    margin: 0;
    list-style: none;
    margin-right: 30px;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.man:last-child {
   margin-right: 0px;
}

.feature-list-title {
    margin: 0;
    padding: 0;
 
    line-height: 1.14;
    color: var(--title-text-color--);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 10px;

     
}

.text {
    margin: 0;
    padding: 0;
    width: 270px;
  
}

.people {

    margin-top: 30px;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--title-text-color--);
}

.position {
    
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.19;
    color: var(--primary-text-color--);

}


.footer {

    margin: 0;
    padding: 60px 0 60px 0;
    background: var(--hero-bg-color--);
    list-style: none;
}

.projects {
    color: var(--title-text-color--);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
   
    margin: 0;
    margin-bottom: 4px;
  

   
}

.projects-item:hover,
.projects-item:focus {
 
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

}

.objects {
    font-size: 16px;
    line-height: 1.86;
    text-decoration: none;
    color: var(--primary-text-color--);
    margin-bottom: 9px;
    margin: 0;

   
    
}

.contacts {

    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    list-style: none;
        
    
}



.site-nav  .item + .item {
    margin-left: 50px;
}

 .studia {
    color: #212121;
 }

 .link-a {
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 9px;
    margin-top: 20px;

 }

 .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
 }



 .link-mail-header, .link-phone-header {
    margin: 0;
    padding: 32px 0;
    color: var(--primary-text-color--);
    text-decoration: none;
    
 }

 .link-mail-header:hover,
 .link-mail-header:focus {
    color: var(--accent-color--);
 }

 .link-phone-header:hover,
 .link-mail-header:focus {
    color: var(--accent-color--);

 }



 .link-mail-footer:hover,
 .link-mail-footer:focus {
    color: var(--accent-color--);

 }

 .link-phone-footer:hover,
 .link-phone-footer:focus {
    color: var(--accent-color--);
 }

 .link-mail-footer, .link-phone-footer {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    margin-bottom: 9px;
    margin-top: 0;
   
 }





 .section {
    padding-top: 94px;
    padding-bottom: 94px;
 }

 .no-padding {
    padding-top: 0;
    padding-bottom: 0;
 }

 .container {
   
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    
 }




 .container-nav {

    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
   
 }



 .contacts-header {

     margin: 0;
     padding: 0;
     margin-left:auto;
     text-align: center;
     display: flex;
     list-style: none;
    

 }

 .contacts-header .item
 { 
    margin: 0;
    margin-right: 50px;
    
 }

 .work {
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0;

  

 }

 .image {
    display: block;
    height: auto;
    max-width: 100%;
 
 }

 .contacts-footer {
    
    padding: 0;
    margin-right: auto;
 }

 .buttons {

   
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
    list-style: none;


 }


 .projects-list {

    margin: 0;
    padding: 0;
   
    display: flex;
    flex-wrap: wrap; 
    gap: 30px;   
    list-style: none;     
    
 }

 .projects-item {
    padding: 0;
    margin: 0;

 }

.border  {

border: 1px solid var(--border-portfolio--);
border-top: none;
padding-left: 24px;
padding-right: 24px;
padding-top: 20px;
padding-bottom: 20px;
   
}

.container-advantages {
    margin: 0;
    padding: 94px 0 94px 0;
}



img {
    display: block;
    height: auto;
    max-width: 100%;
}




.ourteam {
    padding: 94px 0 94px 0;
}

.working {
    margin: 0;
    padding: 0;
    padding-bottom: 94px;

}

.portfolio {

    margin: 0;
    padding: 94px 0;
}


.adress {
    margin: 0;
    margin-bottom: 9px; 
    padding: 0;
}

.tel {

    margin: 0;
    padding: 0;
}

.mail {
    margin: 0;
    margin-bottom: 9px;
    padding: 0;
}

.item {
    padding: 32px 0;
}

.adr {
    display: block;
    margin-top: 20px;
}

.colleagues :last-child {
    margin-right: 0;
}


.icons 
{

    display: inline-block;
    text-align: center;
    justify-content: center;
  
    background: #F5F4FA;
    margin-bottom: 30px;
  
    border-radius: 4px;
}


.icon-sputnik {

  margin: 25px 102.34px;
  background-image: url(../svg-made/sputnik.svg);
  background-repeat: no-repeat;  
 

}


.icon-chasy {

    margin: 25px 102.34px;
    background-image: url(../svg-made/chasy.svg);
    background-repeat: no-repeat;
   
}

.icon-komp {

    margin: 25px 102.34px;
    background-image: url(../svg-made/komp.svg);
    background-repeat: no-repeat;
     border-radius: 4px;

}

.icon-astronaut {

    margin: 25px 102.34px;
    background-image: url(../svg-made/astronaut.svg);
    background-repeat: no-repeat;
     border-radius: 4px;

}


.clients {

padding: 0;
padding-top: 94px;

  
}

.companies {
     margin: 0;
     padding: 0;
    display: inline-flex;
    list-style-type: none;
    align-items: baseline;
    
    
  } 

  .our-partners {

        display: inline-block;
  
  }


.partner {

   
    background-image: url(../svg-made/logo.svg);
    background-repeat: no-repeat;
    
    }



.partner1 {

        background-image: url(../svg-made/logo1.svg);
        background-repeat: no-repeat;
        border-radius: 4px;
   
    }

.partner2 {
    
              background-image: url(../svg-made/logo2.svg);
              background-repeat: no-repeat;
              border-radius: 4px;
    
     }

.partner3 {
   
           background-image: url(../svg-made/logo3.svg);
           background-repeat: no-repeat;
          border-radius: 4px;
            
     }
   
   
.partner4 {

         background-image: url(../svg-made/logo4.svg);
        background-repeat: no-repeat;
        border-radius: 4px;

      }


.partner5 {

       background-image: url(../svg-made/logo5.svg);
       background-repeat: no-repeat;
       border-radius: 4px;

   }

.our-partners {
    margin-left: 0;
    padding: 0 0 94px 0;
}     

.logo1 {
    display: flex;
    text-align: center;
    justify-content: center;
}

.logo2 {
    display: flex;
    text-align: center;
    justify-content: center;
}

.logo3 {
    display: flex;
    text-align: center;
    justify-content: center;
}

.logo4 {
    display: flex;
    text-align: center;
    justify-content: center;
}

.logo5 {
    display: flex;
    text-align: center;
    justify-content: center;
}

.logoo {

    display: flex;
    text-align: center;
    justify-content: center;
}




.partner-button {

    
    box-sizing: border-box;
    border: 1px solid #AFB1B8; 
    border-radius: 4px;
    padding: 16px 32px;
    margin-right: 30px;
    
}

.partner-button:hover,
.partner-button:focus {
  
    border-color: var(--accent-color--);
   
}

.partner-button-last {
    box-sizing: border-box;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    padding: 16px 32px;
    margin-right: 0;

}

.partner-button-last:hover,
.partner-button-last:focus {
    border-color: var(--accent-color--)
}


.join {
   margin: 0;
   margin-left: 70px;
   padding: 0;
   align-items: baseline;

 }

.section-title-join {

    margin-bottom: 20px;
    padding: 0;
    font-weight: 700;
    font-size: 14px;
    color: var(--primary-bg-color--);
  
       
}

.join-us {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
}

.f-l-contacts {


    margin: 0;
    padding: 0;
    list-style: none;
    align-items: baseline;
    display: flex;
    gap: 10px;
}

.button-i {
    
   border-radius: 80%;
   width: 44px;
   height: 44px;
   display: inline-flex;
   background: rgba(255, 255, 255, 0.1);
   background-image: url(../svg-made/instagram-f.svg);
   background-repeat: no-repeat;
   background-position: center;

}


.button-i:hover,
.button-i:focus{
    background-color: var(--accent-color--)
}

.button-t {

    border-radius: 80%;
    width: 44px;
    height: 44px;
    display: inline-flex;
    background: rgba(255, 255, 255, 0.1);
    background-image: url(../svg-made/twitter-f.svg);
    background-repeat: no-repeat;
    background-position: center;

}

.button-t:hover,
.button-t:focus {
    background-color: var(--accent-color--)
}

.button-f {

    border-radius: 80%;
    width: 44px;
    height: 44px;
    display: inline-flex;
    background: rgba(255, 255, 255, 0.1);
    background-image: url(../svg-made/facebook-f.svg);
    background-repeat: no-repeat;
    background-position: center;

}

.button-f:hover,
.button-f:focus {
    background-color: var(--accent-color--)
}

.button-l {

    border-radius: 80%;
    width: 44px;
    height: 44px;
    display: inline-flex;
    background: rgba(255, 255, 255, 0.1);
    background-image: url(../svg-made/linkedin-f.svg);
    background-repeat: no-repeat;
    background-position: center;

}

.button-l:hover,
.button-l:focus {
    background-color: var(--accent-color--)
}

.button-inst {

    border-radius: 80%;
    width: 44px;
    height: 44px;
    display: inline-flex;
   
    background-image: url(../svg-made/instagram-h.svg);
    background-repeat: no-repeat;
    background-position: center;

}

.button-inst:hover,
.button-inst:focus {
    background-color: var(--accent-color--);
   
}

.button-twit {

    border-radius: 80%;
    width: 44px;
    height: 44px;
    display: inline-flex;

    background-image: url(../svg-made/twitter-h.svg);
    background-repeat: no-repeat;
    background-position: center;

}

.button-twit:hover,
.button-twit:focus {
    background-color: var(--accent-color--);

}

.button-fb {

    border-radius: 80%;
    width: 44px;
    height: 44px;
    display: inline-flex;

    background-image: url(../svg-made/facebook-h.svg);
    background-repeat: no-repeat;
    background-position: center;

}

.button-fb:hover,
.button-fb:focus {
    background-color: var(--accent-color--);

}

.button-li {

    border-radius: 80%;
    width: 44px;
    height: 44px;
    display: inline-flex;

    background-image: url(../svg-made/in.svg);
    background-repeat: no-repeat;
    background-position: center;


}

.button-li:hover,
.button-li:focus {
    background-color: var(--accent-color--);

}

.list-contacts {

    margin: 0;
    margin-top: 16px;
    margin-bottom: 30px;
    padding: 0;
    display: inline-block;
    align-items: center;
    gap: 10px;
}

.header-konvert {

  
        width: 16px;
        height: 12px;
        display: inline-flex;
    
        background-image: url(../svg-made/konvert.svg);
        background-repeat: no-repeat;
    
}

.header-konvert:hover,
.header-konvert:focus {
 
    background-color: var(--accent-color--);

}

.header-phone {


    width: 16px;
    height: 18px;
    display: inline-flex;
    align-items: center;

    background-image: url(../svg-made/phone.svg);
    background-repeat: no-repeat;

}

.header-phone:hover,
.header-phone:focus {

    background-color: var(--accent-color--);

}

